#node-info{
  position: absolute;
  top: -2px;
  right: 0;
  width: 450px;
  max-height: 280px;
  overflow: auto;
  background-color: #fff;
  z-index:100;
  padding: 0 0 5px;
  border: 2px solid #000;
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 3px;
  color: #333;
  p{
    margin: 0;
    text-align: center;
  }
  .form-input{
    background-color: #fff;
  }
  h3{
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin-top: 0;
  }
}